html {
    box-sizing: border-box;
    height: 100%; 
    scroll-behavior: smooth;
}

*,*::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: "Itim", cursive;
}

h1 {
    font-size: 20px;
    text-align: center;
}

.btn_search {
    background: rgba(254, 114, 91, 1) url('../project2/loupe.png') no-repeat center ;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
}

.search_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    height: 30px;
    width: 210px;
    background-color: rgba(252, 219, 214, 1);
    border: none;
    border-radius: 20px; 
    padding-left: 20px;
}

input::placeholder {
    transition: opacity 0.3s;
  }

.input:focus-visible {
    outline: none;
    
}

.input:focus::placeholder { 
    opacity: 0; 
}

.btn_search::before {
    content: "";
    background-color: rgba(252, 219, 214, 1);
    width: 40px;
    height: 30px;
    position: absolute;
    transform: translate(5px, -15px);
    z-index: -1;
}

datalist {
    background-color: rgba(131, 123, 121, 1);
    color: white;
}

.suggest_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(131, 123, 121, 1);
    color: white;
    max-width: 230px;
    position: absolute;
    transform: translateX(225px) translateY(-7px);
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.suggest_item {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 205px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.suggest_item:hover {
    background-color: rgb(151, 142, 140);
    border-radius: 20px;
}

.like_card {
    width: 200px;
    background-color: rgba(252, 219, 214, 1);
    border-radius: 20px;
    padding-left: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.like {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like_btn {
    background: url('../project2/like.png') no-repeat center ;
    height: 30px;
    width: 30px;
    border: none;
    filter: grayscale(80%);
}

.like_btn:hover {
    filter: none;
}

.like {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete_btn {
    position: absolute;
    transform: translateX(155px) translateY(-35px);
    background: url('../project 2/close.png') no-repeat center ;
    height: 15px;
    width: 15px;
    border: none;
}
